/* ImageScroller2.css */

.slider {
    width: 100%;
    overflow: hidden;
  }
  
  .slide-track {
    display: flex;
    width: calc(200px * 90); /* Adjust this value based on the number of images and their width */
    animation: scroll 40s linear infinite;
  }
  
  .slide {
    flex: 0 0 auto;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-200px * 45)); /* Adjust this value based on the number of images and their width */
    }
  }
  