.your-component-mission-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto 50px;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .your-component-mission h1 {
    margin: 0 0 20px;
  }
  
  .your-component-inner-logo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: -30px; /* Add spacing between the inner logo containers */
  }
  
  .your-component-inner-logo-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }

  .your-component-company-logos {
    width: 100px;
    height: 100px;
  }
  