.company-logos{
    width:90px;
    height:90px;
    margin:10px;
  }
  
  .outer-logo-cont{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    gap:20px;
    margin-top:10px;
  }
  
  
  .inner-logo-cont{
    display:flex;
    flex-direction:column;
    align-items:center;
    
  }
  .inner-logo-cont p{
    margin-top:-10px;
    text-align:center;
    font-size:15px;
  }
  .extra-padding{
    margin-left:10px;
  }


/* 
.msg{
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 2px solid black;
}

.socialsContainer{
    display:flex;
    justify-content: center;

}

.first-left-soc{
    width: 50px;
    height: 50px;
}

.not-first-left-soc{
    width: 60px;
    height: 50px;
    padding-left: 10px;
} */

/* .instagram{
    width: 62.5px;
    height: 55px;
    padding-left: 10px;
    margin-top: -2.5px;
} */